# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
######################################################################
# Mind that this is to be read as an overview of available
# settings which can be set in many different ways, not only
# by providing pillar values.
# The different sources will be merged. For further information,
# please see the docs, https://lkubb.github.io/saltext-formula/
# as well as the configured default sources in `parameters/map_jinja.yaml`.
######################################################################

# Apart from the various source files, there are two independent source trees
# for user-specific configuration.
# Generally tool_zsh > tool_global.
# `tool_global` focuses on specific users, of which most values
# will be respected by all formulae in the `tool` suite:
tool_global:
  users:

      # The following is global configuration for the user named `user`.
    user:

        # Force the usage of XDG directories for this user.
        # This sets up $ZDOTDIR in XDG_CONF_HOME. Mind that currently,
        # $ZDOTDIR will be set globally. Thus, excluded users will
        # have broken config.
      xdg: true

        # Sync this user's config from a dotfiles repo.
        # The available paths and their priority can be found in the
        # rendered `config/sync.sls` file.
        # Note that for user matching to work, you need to install `saltext-formula`.
        # Overview in descending priority:
        # salt://dotconfig/id/<minion_id>/users/<user>/zsh
        # salt://dotconfig/id/<minion_id>/zsh
        # salt://dotconfig/roles/<each custom `role` config>/users/zsh
        # salt://dotconfig/roles/<each custom `role` config>/zsh
        # salt://dotconfig/os_family/<os_family>/users/<user>/zsh
        # salt://dotconfig/os_family/<os_family>/zsh
        # salt://dotconfig/users/<user>/zsh
        # salt://dotconfig/default/zsh
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false

        # Persist environment variables used by this formula for this
        # user to this file (will be appended to a file relative to $HOME)
      persistenv: '.config/zsh/zshenv'

        # Add runcom hooks specific to this formula to this file
        # for this user (will be appended to a file relative to $HOME)
      rchook: '.config/zsh/zshrc'

        # This user's configuration for this formula. Will be overridden by
        # user-specific configuration in `tool_zsh:users`.
        # Set this to `false` to disable configuration for this user.
      zsh:
          # Set zsh as default shell for this user. Defaults to false.
        default_shell: true
          # Set up Prezto framework (if xdg is true, use XDG_DATA_HOME, else ZDOTDIR).
          # Defaults to false. Set to true or mapping to install.
        prezto:
            # List of zsh plugins **on Github** to clone into <extplugins_target>,
            # by default $ZPREZTODIR/contrib.
          extplugins:
            - gpanders/fzf-prezto
            - skywind3000/z.lua
            # If you want to add the extplugins as submodules to prezto instead of
            # cloned repos in <extplugins_target>.
          extplugins_as_submodule: false
            # If you want to manually edit zshrc and add plugins on init to test them
            # (will add stuff to zshrc).
          extplugins_sync_on_startup: false
            # By default, plugins are synced to $ZPREZTODIR/contrib.
            # You can override it here.
          extplugins_target: some/other/path
            # if you want to override the default repository with your own
          repo:
              # Git rev to checkout after cloning.
              # If you do not want to update in subsequent runs, pin this
              # to a specific commit hash.
            rev: master
              # URL to git repository of Prezto. If you want to work on the
              # default branch, just specify repo: <url>.
            url: https://github.com/sorin-ionescu/prezto
            # List of packages that are required by the modules specified in
            # ext_plugins (will be automatically installed by the package manager).
          required_packages:
            - fzf
            - lua
            # List of additional paths Prezto searches for plugins
            # besides $ZPREZTODIR/{contrib, modules}
          user_plugin_dirs:
            - ${XDG_DATA_HOME}/zprezto-contrib

tool_zsh:

    # Specify an explicit version (works on most Linux distributions) or
    # keep the packages updated to their latest version on subsequent runs
    # by leaving version empty or setting it to 'latest'
    # (again for Linux, brew does that anyways).
  version: latest

    # Default formula configuration for all users.
  defaults:
    default_shell: default value for all users

    # User configuration can also be specified here in
    # `tool_zsh:users`. It will override
    # configuration sourced from `tool_global:users`.
  users:
    user:
      persistenv: '.bash_profile'
      zsh:
        default_shell: this overrides config from tool_globl:users

######################################################################
# The following settings define default values for this formula,
# depending on different grains. You should not have to modify them
# in most cases. For a full overview, see the different files
# in `parameters`.
######################################################################
  lookup:
    pkg:
      name: zsh
    rootgroup: root
    paths:
      confdir: ''
      conffile: '.zshrc'
      xdg_dirname: 'zsh'
      xdg_conffile: '.zshrc'

######################################################################
# The following settings influence which source paths are considered
# when managing files (TOFS pattern).
# See docs/TOFS_pattern.rst and https://lkubb.github.io/saltext-formula/
######################################################################
  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family
