tool:
  users:
    user:
      # Set up $ZDOTDIR in XDG_CONF_HOME. Mind that currently,
      # $ZDOTDIR will be set globally. Thus, excluded users will
      # have broken config.
      xdg: true
      # sync this user's config from a dotfiles repo available as
      # salt://dotconfig/<user>/zsh or salt://dotconfig/zsh
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false
      zsh:                    # setup zsh config in global tool:users namespace or tool:zsh:users:<name> (latter takes precedence)
        default: false        # set zsh as default shell for this user. defaults to false

  zsh:
    users:
      user:
        dotconfig: true                       # you can override global tool:users defaults in zsh namespace
        zsh:
          gitignore: false                    # add non-config files to gitignore in ZDOTDIR
          prezto:                             # set up prezto framework (if xdg is true, use XDG_DATA_HOME, else ZDOTDIR). defaults to false.
                                              # set to true or to mapping to install
            repo:                             # if you want to override the default repository with your own
              url: <url>                      # url to repo. if you want to work on main/master, just specify repo: <url>.
                                              # @TODO with custom module/state: if the repo contains 'required_packages', they will be installed
              branch: my                      # branch to checkout when cloning
            required_packages:                # list of packages that are required by the modules specified in ext_plugins that will be automatically installed
              - fzf
              - lua
            extplugins:                       # list of zsh plugins **on github** to clone into <extplugins_target>, by default ZPREZTODIR/contrib
              - gpanders/fzf-prezto
              - skywind3000/z.lua
            extplugins_target: /some/path     # by default, plugins are synced to $ZPREZTODIR/contrib. you can override it here
            extplugins_sync_on_startup: False # if you want to manually edit zshrc and add plugins on init to test them (will add stuff to zshrc)
            extplugins_as_submodule: False    # if you want to add the plugins as submodules to prezto instead of cloned repos in <extplugins_target>
            user_plugin_dirs:                 # list of additional paths prezto searches for plugins besides $ZPREZTODIR/{contrib, modules}
              - ${XDG_DATA_HOME}/zprezto-contrib
    defaults:
      gitignore: false                        # setup default zsh config values for all users in tool:zsh:defaults
