{#- -*- coding: utf-8 -*- #}
{#- vim: ft=jinja #}

{%- set tplroot = tpldir.split('/')[0] %}
{%- from tplroot ~ "/map.jinja" import mapdata as zsh with context %}

{#- enable importing from this file, by default don't install prezto. casting to list ensures it is importable correctly -#}
{%- set users = zsh.users | selectattr('zsh.prezto', 'defined') | rejectattr('zsh.prezto', 'sameas', False) | list -%}

{%- for user in users -%}
  {%- set zpreztodir = user.xdg.data ~ '/zprezto' if user.xdg else user.home ~ '/.zprezto' -%}
  {%- set prezto_rev = '' -%}
  {%- set prezto_repo = 'https://github.com/sorin-ionescu/prezto.git' -%}
  {%- if user.zsh.prezto.get('repo') is string -%}
    {%- set prezto_repo = user.zsh.prezto.repo -%}
    {%- set prezto_rev = '' -%}
  {%- elif user.zsh.prezto.get('repo') is mapping -%}
    {%- set prezto_repo = user.zsh.prezto.repo.get('url', prezto_repo) -%}
    {%- set prezto_rev = user.zsh.prezto.repo.get('rev', '') -%}
  {%- endif -%}
  {%- do user.update({'_zprezto': {
      'datadir': zpreztodir,
      'repo': prezto_repo,
      'rev': prezto_rev,
      'extplugins_target': user.zsh.prezto.extplugins_target | default(zpreztodir ~ '/contrib')}
  }) -%}
{%- endfor -%}
